body {
  font-family: Roboto;
  @include flex($direction: column);
}

body.preload * {
  animation-duration: 0s;
  -webkit-animation-duration: 0s;
  transition: background-color 0s, opacity 0s, color 0s, width 0s, height 0s,
    padding 0s, margin 0s;
}

.body_disable {
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: $mw;
  margin: 0 auto;

  .header & {
    @include flex($justify: space-between);
    padding: calc-rem(18px) $px;
    max-width: calc-rem(1170px);
    transition: 0.3s;
  }

  .footer & {
    background-color: $color-blue-100;
    padding: 60px $px 26px;
    @media screen and (max-width: 500px) {
      padding-top: 20px;
    }
  }
}

.link {
  transition: 0.3s;

  &:hover {
    color: $color-blue-500;
    fill: $color-blue-500;

    .header & {
      color: $color-blue-200;
    }
  }
}
