.footer {
  width: 100%;
}

.footer__part {
  @include flex($justify: space-between);
  max-width: calc-rem(1110px);
  margin: 0 auto;
}

.footer__top {
  margin-bottom: calc-rem(61px);
  flex-wrap: wrap;
  @media screen and (max-width: 500px) {
    gap: 20px;
    justify-content: center;
    margin-bottom: calc-rem(30px);

    .logo {
      order: -1;
      margin: 0 20px;
    }

    .copyright {
      order: 3;
    }
  }
}

.copyright {
  color: $color-grey-400;
  @include medium14;
}

.footer__bottom {
  position: relative;

  @media screen and (max-width: 600px) {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
}

.footer__bottom::before {
  content: '';
  position: absolute;
  top: calc-rem(-20px);
  left: 50%;
  transform: translateX(-50%);
  display: block;
  height: 1px;
  width: 100%;
  background-color: $color-grey-200;
}

.footer__icon {
  width: calc-rem(16px);
  height: calc-rem(16px);
  fill: $color-grey-300;
}

.footer__social-networks {
  @include flex();
  gap: calc-rem(30px);
}
