.header {
  @include flex();
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.header__left {
  @include flex();
  column-gap: 10px;
  position: relative;
  z-index: 2;
}

.header__scroll {
  background-color: rgba($color: $color-white, $alpha: 0.9);
  box-shadow: 0 3px 4px $color-grey-200;
  & .header__container {
    padding: calc-rem(2px) $px;
  }
}

.header__burger {
  position: relative;
  display: none;
  width: 23px;
  height: 35px;
  cursor: pointer;

  span.open {
    background-color: $color-grey-600;
  }

  span {
    position: absolute;
    background-color: $color-grey-600;
    height: 2px;
    border-radius: 2px;
    width: 100%;
    top: 50%;
    transition: 0.4s;

    &::after {
      content: '';
      position: absolute;
      height: 2px;
      width: 100%;
      border-radius: 2px;
      top: 5px;
      transition: 0.4s;
      background-color: inherit;
    }

    &::before {
      content: '';
      position: absolute;
      height: 2px;
      width: 100%;
      border-radius: 2px;
      bottom: 5px;
      transition: 0.4s;
      background-color: inherit;
    }
  }

  @media screen and (max-width: 768px) {
    display: block;
  }
}

.burger_open {
  span::before {
    width: 0;
    transition: 0.4s;
  }

  span::after {
    width: 0;
    transition: 0.4s;
  }
}

.nav__shadow {
  position: fixed;
  background-color: $color-grey-700;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  animation: shadow-disappere 0.4s ease-in forwards;
}

.nav_open ~ .nav__shadow {
  animation: shadow-appere 0.7s ease-in 0.2s forwards;
}

@keyframes shadow-appere {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  1% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 0.7;
    visibility: visible;
  }
}

@keyframes shadow-disappere {
  0% {
    opacity: 0.7;
    visibility: visible;
  }
  99% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
