.main {
  width: 100%;
  margin: 0 auto;
}

.section {
  padding: 0 $px;
}

.section__items {
  max-width: calc-rem(540px);

  @media screen and (max-width: 900px) {
    max-width: calc-rem(550px);
  }

  @media screen and (max-width: 768px) {
    margin: 0 auto;
    text-align: center;
  }

  .intro & {
    max-width: calc-rem(445px);
  }

  .pricing & {
    @include flex($direction: column);
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
  }
}

.title {
  color: $color-grey-700;
  @include medium36;

  .hero & {
    margin-bottom: 20px;
    @include medium50;

    @media screen and (max-width: 900px) {
      @include medium36;
    }

    @media screen and (max-width: 500px) {
      @include medium24;
    }
  }

  .card & {
    @include medium16;
    margin: 10px 0 6px;
  }

  @media screen and (max-width: 500px) {
    @include medium18;
  }
}

.text {
  @include flex($align: flex-start, $direction: column);
  gap: 10px;
  @include regular16;
  color: $color-grey-600;
  margin-bottom: 80px;
  margin-top: 16px;

  .hero & {
    @include regular18;
    gap: 14px;
    color: $color-blue-500;
    margin: 20px 0 69px;

    @media screen and (max-width: 1170px) {
      @include regular14;
      margin: 20px 0 30px;
    }
  }

  .card & {
    @include regular12;
    margin: 0;
  }

  .intro & {
    margin-bottom: 0;
  }

  .pricing & {
    @include regular16;
    margin-bottom: 35.82px;
  }

  @media screen and (max-width: 900px) {
    margin-bottom: 30px;
  }
}

.hero {
  width: 100%;
  background-image: url('../assets/svg/designer_1.svg');
  background-repeat: no-repeat;
  background-size: calc-rem(1490px) calc-rem(1161px);
  background-position: bottom 0 right calc-rem(-466px);
  padding: calc-rem(309px) $px calc-rem(388px);

  @media screen and (max-width: 1170px) {
    background-size: calc-rem(1000px);
    background-position: bottom 0 right calc-rem(-400px);
    padding: calc-rem(220px) $px calc-rem(50px);
  }

  @media screen and (max-width: 900px) {
    background-size: calc-rem(1000px);
    background-position: bottom 0 right calc-rem(-400px);
    padding: calc-rem(220px) $px calc-rem(50px);
  }

  @media screen and (max-width: 768px) {
    background-size: calc-rem(500px);
    background-position: bottom 0 right calc-rem(-150px);
    padding: calc-rem(100px) $px calc-rem(300px);
  }
}

.hero__wrapper {
  width: 100%;
  max-width: calc-rem(1115.2px);
  margin: 0 auto;
}

.hero__btns {
  @include flex(flex-start);
  flex-wrap: wrap;
  column-gap: 30px;

  @media screen and (max-width: 768px) {
    justify-content: center;
    row-gap: 15px;
  }
}

.info {
  background-image: url('../assets/svg/undraw_mobile_login_ikmv.svg');
  background-repeat: no-repeat;
  background-position: top 109px right 165px;
  padding: calc-rem(160px) $px;

  @media screen and (max-width: 1200px) {
    background-position: bottom 0 right 30px;
    padding: calc-rem(120px) $px;
  }

  @media screen and (max-width: 960px) {
    background-size: 400px;
    background-position: bottom 0 right 30px;
    padding: calc-rem(50px) $px calc-rem(170px);
  }

  @media screen and (max-width: 768px) {
    background-size: calc-rem(300px);
    background-position: bottom 0 center;
    padding: calc-rem(20px) $px calc-rem(180px);
  }
}

.info__wrapper {
  width: 100%;
  max-width: calc-rem(1110px);

  margin: 0 auto;
  @include flex($justify: flex-start);
}

.info__cards {
  @include flex($justify: flex-start);
  flex-wrap: wrap;
  gap: calc-rem(30px);

  @media screen and (max-width: 617px) {
    justify-content: center;
  }
}

.card {
  max-width: calc-rem(255px);
}

.card__icon {
  width: 36px;
  height: 36px;
  fill: black;
}

.intro {
  background-image: url('../assets/svg/undraw_happy_news_hxmt.svg');
  background-repeat: no-repeat;
  background-position: top 122px left 190px;
  padding: calc-rem(172px) $px calc-rem(168px);

  @media screen and (max-width: 1170px) {
    background-position: top 122px left 30px;
    padding: calc-rem(172px) $px calc-rem(168px);
  }

  @media screen and (max-width: 960px) {
    background-size: 400px;
    background-position: top 0 left 30px;
    padding: calc-rem(350px) $px calc-rem(0px);
  }

  @media screen and (max-width: 768px) {
    background-position: bottom 0 center;
    padding: calc-rem(70px) $px calc-rem(300px);
  }

  @media screen and (max-width: 450px) {
    background-size: 250px;
    padding: calc-rem(70px) $px calc-rem(200px);
  }
}

.intro__wrapper {
  width: 100%;
  max-width: calc-rem(1100px);
  margin: 0 auto;
  @include flex($justify: flex-end);
}

.pricing {
  width: 100%;
  background-image: url('../assets/svg/Rectangle.svg');
  background-position: center top 0;
  background-repeat: no-repeat;
  padding: 237px $px 172.73px;

  @media screen and (max-width: 768px) {
    padding: 150px $px 100px;
  }
}

.pricing__price-block {
  margin-bottom: 60px;
}

.pricing__btn-block {
  @include flex($direction: column);
  row-gap: 9px;
}

.pricing__value {
  @include medium50;
  color: $color-blue-700;
}

.pricing__text {
  color: $color-primary;
  @include regular16;

  .pricing__btn-block & {
    color: $color-grey-600;
    @include regular14;
  }
}
