$color-primary: #37447e;

$color-grey-700: #454e54;
$color-grey-600: #5d6970;
$color-grey-400: #939ea4;
$color-grey-300: #b0b8bc;
$color-grey-200: #cdd1d4;

$color-blue-800: #111b47;
$color-blue-700: #222f65;
$color-blue-500: #505f98;
$color-blue-300: #929ecc;
$color-blue-200: #bac3e5;
$color-blue-100: #e7ecff;

$color-white: #ffffff;

$font-bold: 900;
$font-regular: 400;
$font-medium: 500;
$px: calc-rem(30px);
$mw: 1440px;
